<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}
</head>
<body>
    <form method="POST" action={{ url_for('contact_complete') }}>
        Username:
        <input type="text" label="Username:" name="username">
        <br/>
        Password:
        <input type="text" label="Password:" name="email">
        <br/>
        Submit:
        <input type="submit" value="Submit">
    </form>
</body>
</html>